img {
    width: 100%;          /* Хайрцагныхаа өргөнийг 100% дүүргэ */
    height: 200px;        /* Өндрийг нь тогтмол болгож өгвөл цэгцтэй харагдана */
    object-fit: cover;    /* Зургийг сунгаж муухай болгохгүйгээр, тааруулж зүсэж харуулна */
    border-radius: 15px;  /* Буланг нь бөөрөнхийлөх */
    display: block;       /* Доор нь илүү зай гаргахгүй байх */
}

.product-card {
    /* Карт чинь хэтэрхий томрохоос сэргийлж үүнийг шалгаарай */
    width: 300px; 
    overflow: hidden;     /* Доторх зүйл нь гадагшаа цухуйвал нуух */
    background-color: #1e293b;
    padding: 20px;
    border-radius: 20px;
}